{% extends 'base.html' %}
{% block content %}

<h1> About us </h1>
<br><br>
<p> Introducing People Will Fly, a groundbreaking company revolutionizing the world
    of technology. With a focus on both software and hardware,
    People Will Fly is at the forefront of innovation in the realm of augmented reality,
    DApps, and smart applications. As a leading software manufacturer, we develop cutting-edge
    solutions that seamlessly integrate with our everyday lives, enhancing our reality
    with immersive experiences and unlocking new possibilities. Our expertise extends
    to crafting next-generation DApps that empower users with decentralized
    functionalities and secure interactions. Moreover, in the hardware domain,
    People Will Fly brings a touch of leisure to technology, creating state-of-the-art
    components designed to elevate entertainment experiences.
    From virtual reality headsets to advanced gaming peripherals,
    our hardware offerings are engineered with precision and designed to
    captivate the senses. People Will Fly strives to redefine the boundaries of what is possible,
    empowering individuals to soar through a world where innovation
    and leisure harmoniously converge.
</p>

{% endblock %}